.App {
  text-align: center;
  background:  hsl(217, 19%, 24%);
  margin: 170px;
  padding: 30px 20px 30px 20px;
  border-radius: 15px;
}
.advice{
  color: hsl(193, 38%, 86%);
}
.advice-id{
color: hsl(150, 100%, 66%);
}
.dice{
  color: hsl(193, 38%, 86%);
}


