.App {
  text-align: center;
  background:  hsl(217, 19%, 24%);
  margin: 0 auto;
  padding: 30px 20px;
  max-width: 960px ;
  border-radius: 15px; 
  /* margin: 170px;*/
}
.advice{
  color: hsl(193, 38%, 86%);
}
.advice-id{
  color: hsl(150, 100%, 66%);
}
.dice{
  color: hsl(193, 38%, 86%);
  background: hsl(150, 100%, 66%);
  border: 1px solid  ;
  border-radius: 50%;
  
}
.dice :hover{
  cursor: pointer;
  
}
.mobile{
  display:block;
  margin: 0 auto;
}
@media (max-width:900px) {
     .App{
    text-align: center;
    background:  hsl(217, 19%, 24%);
    margin-bottom: 0;
    border-radius: 15px;
     }
     .dice{
  color: hsl(193, 38%, 86%);
  background: hsl(150, 100%, 66%);
  
}
}


